ComputerVisionOpencv/.vs/ComputerVisionOpencv/v15/Browse.VC.opendb
ComputerVisionOpencv/.vs/ComputerVisionOpencv/v15/
/ComputerVisionOpencv/ComputerVisionOpencv/x64/
CannyEdgeDetection/.vs/CannyEdgeDetection/v15/Browse.VC.opendb